div(class="bg-white shadow rounded-lg")
    img(class="object-cover h-72 w-full"  src=`/uploads/${propiedad.imagen}` alt=`imagen de la propiedad ${propiedad.titulo}`)
    div(class="p-5 space-y-5")

        h1(class="text-xl font-foco")= propiedad.titulo
        p(class="text-sm text-gray-600.font-foco") Habitaciones:  
                                span(class="text-gray-800 font-rubi")= propiedad.habitaciones
        p(class="text-sm text-gray-600.font-foco") WC:  
                                span(class="text-gray-800 font-rubi")= propiedad.wc
        p(class="text-sm text-gray-600.font-foco") Precio:  
                                span(class="text-gray-800 font-bold")= propiedad.precio.nombre

        if propiedad.usuario && propiedad.usuario.alias && propiedad.usuario.foto

            h3(class="text-2xl text-center my-10 font-foco text-gray-900") Vendedor
            div(class="flex items-center justify-center")
                img(class="w-10 h-10 rounded-full" src=`/uploads/${propiedad.usuario.foto}` alt="Avatar del vendedor")
                p(class="text-sm text-gray-800 font-rubi ml-3")= propiedad.usuario.alias

        a(href=`/propiedad/${propiedad.id}` class="bg-darkblue w-full text-center block font-rubi text-white p-2 uppercase rounded") Ver Propiedad          
    